input{
    width: 100%;
    border-radius: 20px;
    padding: 13px;
    border:none;
    background-color:rgba(0,0,0,0.2);
    color: wheat;
}
div{
    padding: 5px 20px 5px 10px;
}

@media screen and (max-width:400px) {
    div{
        padding: 10px 10px 10px 3px;
    }
}